<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="#">Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#siswa">Siswa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#guru">Guru</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#kelas">Kelas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#mata_pelajaran">mata_pelajaran</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#jadwal_pelajaran">jadwal_pelajaran</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#raport">raport</a>
    </li>
</ul>
