<nav id="navbar" class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
            <!-- <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#siswa">Siswa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#guru">Guru</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#kelas">Kelas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#mata_pelajaran">mata_pelajaran</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#jadwal_pelajaran">jadwal_pelajaran</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#raport">raport</a>
                    </li>
                </ul>
            </div> -->
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div id="content" class="container">
                <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                </div> -->
            </div>
        </main>
    </div>
</div>
